<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>巴御前天下第一</title>
</head>
<body>
    <!-- 容器 -->
    <div id="container">
        <!-- 游戏界面 -->
        <div id="interface">
            <!-- 蛇的容器(身体) -->
            <div id="snake">
                <!-- 蛇头 -->
                <div id="head"></div>
            </div>
            <!-- 障碍物 -->
            <div id="food">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <!-- 信息面板 -->
        <div id="scorePanel">
            <!-- 分数 -->
            <div id="score">
                SCORE:<span id="score_info">0</span>
            </div>
            <!-- 难度 -->
            <div id="level">
                LEVEL:<span id="level_info">1</span>
            </div>
        </div>
    </div>
</body>
</html>